<template lang="pug">
  .contact_info
    .contact_info__btn
      el-button(v-if="!isEdit", @click="editContact", type="primary", icon="el-icon-edit", circle)
      el-button(v-if="isEdit", @click="editContact", type="success", icon="el-icon-check", circle)
    .contact_info__title Личные данные
      i(:class="{ 'el-icon-star-on': info.favorite, 'el-icon-star-off': !info.favorite, }", @click="changeFavorite") {{ info.favorite ? 'В' : 'Не в' }} избранном
    .contact_info__row
      .contact_info__row__input
        label Имя
        el-input(v-model="info.name", :readonly="!isEdit")
      .contact_info__row__input
        label Телефон
        el-input(v-model="info.phone", :readonly="!isEdit")
      .contact_info__row__input
        label Email
        el-input(v-model="info.email", :readonly="!isEdit")
    .contact_info__title Контактные данные
    .contact_info__row
      .contact_info__row__input
        label Компания
        el-input(v-model="info.company.name", :readonly="!isEdit")
      .contact_info__row__input
        label Вебсайт
        el-input(v-model="info.website", :readonly="!isEdit")
      .contact_info__row__input
        label Имя пользователя
        el-input(v-model="info.username", :readonly="!isEdit")
</template>

<script>
  export default {
    name: "ContactInfo",
    props: ['info'],
    data() {
      return {
        isEdit: false,
      }
    },
    computed: {
    },
    methods: {
      editContact() {
        this.isEdit = !this.isEdit;
      },
      changeFavorite() {
        this.info.favorite = !this.info.favorite;
      }
    },
  }
</script>

<style lang="less">
  .contact_info {
    .contact_info__title {
      text-align: left;
      font-size: 18px;
      font-weight: bold;
      margin: 20px 0;

      i {
        margin-left: 20px;
        cursor: pointer;
        @media only screen and (max-width: 600px) {
          margin-top: 20px;
          width: 100%;
        }
        &:before {
          margin-right: 5px;
        }
        &.el-icon-star-on {
          &:before {
            color: gold;
          }
        }
      }
    }
    .contact_info__btn {
      float: right;
    }
    .contact_info__row {
      display: flex;

      .contact_info__row__input {
        text-align: left;
        margin: 10px;
      }
      @media only screen and (max-width: 600px) {
        display: block;
      }
    }
  }
</style>