<template lang="pug">
  .home
    .container
      .home__title Контакты
      .home__input
        el-input(
          type="text",
          v-model="find",
          placeholder="Поиск по имени или номеру",
          suffix-icon="el-icon-search",
          )
        el-switch.checkbox(
          active-text="Только избранные",
          v-model="favorite",
          )
      .home__table
        el-table(
          :data="filteredUsers",
          :sort-orders="true",
          style="width: 100%",
          :max-height="maxHeight",
          @row-click="openModal",
          v-loading="loading",
          )
          el-table-column(label=" ", width="70")
            template(slot-scope="{ row }")
              img(v-if="!row.group", :src="row.avatar", width="50", height="auto")
              | {{ row.group }}
          el-table-column(prop="name", label="Имя")
          el-table-column(prop="phone", label="Номер")
          el-table-column(prop="email", label="Email")
      el-dialog(
        v-if="showModal",
        :visible.sync="showModal",
        title="Обзор контакта",
        width="90%",
        :before-close="closeModal",
        )
        ContactInfo(:info="contact", @close="closeModal")
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import ContactInfo from "./ContactInfo";
  import _ from 'lodash';

export default {
  name: 'Home',
  components: {
    ContactInfo
  },
  data() {
    return {
      find: '',
      favorite: false,
      contact: {},
      showModal: false,
    }
  },
  mounted() {
    //Set request. When component is will be build. It's will be send
    this.getUsers();
  },
  computed: {
    ...mapGetters(['users']),
    maxHeight() {
      //setting dynamic height for table
      return window.innerHeight - 130;
    },
    filteredUsers() {
      //filter returns the contacts found from the array or, if nothing needs search, returns a full array
      let users = this.users;
      if (this.favorite) {
        users = users.filter(user => user.favorite);
      }
      if (this.find.trim()) {
        return users.filter(contact => {
          let findForName = contact.name.match(new RegExp(this.find, 'i'));
          let findForPhone = contact.phone.match(new RegExp(this.find, 'i'));
          return !!( findForName || findForPhone );
        });
      } else {
        return users;
      }
    },
    loading() {
      //Added loading effect to table
      return !this.users.length;
    }
  },
  methods: {
    ...mapActions(['getUsers']),
    openModal(contact) {
      if (!contact.group) {
        this.contact = contact;
        this.showModal = true;
      }
    },
    closeModal() {
      this.contact = {};
      this.showModal = false;
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">
  .home {
    .home__title {
      font-size: 24px;
      font-weight: bold;
      margin: 20px 0;
    }
    .home__input {
      .checkbox {
        margin: 10px 0;
      }
    }
    .home__table {
      overflow: hidden;
      img {
        border-radius: 50%;
      }
    }
  }
</style>
