<template lang="pug">
  #app
    .content
      router-view
</template>

<script>
import Home from './components/Contacts.vue';

export default {
  name: 'app',
  components: {
    Home,
  }
}
</script>

<style lang="less">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  .content {
    .container {
      padding: 10px;
      position: relative;
      width: 90%;
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
</style>
